Repository mxgreen29/ansible-docker-compose: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible_lint, ansible_deploy_base, deploy_dev_docker

ansible_lint:
  before_script:
  - apk add curl
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - if [ -z "$KEY" ]; then KEY="$SSH_PRIVATE_KEY"; fi
  - echo "$KEY" | tr -d '\r' | ssh-add -
  - chmod 755 -R ansible
  - cd ansible
  - echo $VAULT_PASSWORD > password && chmod 600 password
  ...

ansible_deploy_base:
  before_script:
  - apk add curl
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - if [ -z "$KEY" ]; then KEY="$SSH_PRIVATE_KEY"; fi
  - echo "$KEY" | tr -d '\r' | ssh-add -
  - chmod 755 -R ansible
  - cd ansible
  - echo $VAULT_PASSWORD > password && chmod 600 password
  ...

deploy_dev_docker:
  before_script:
  - apk add curl
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - if [ -z "$KEY" ]; then KEY="$SSH_PRIVATE_KEY"; fi
  - echo "$KEY" | tr -d '\r' | ssh-add -
  - chmod 755 -R ansible
  - cd ansible
  - echo $VAULT_PASSWORD > password && chmod 600 password
  ...

Update readme and some things
  README.md
  ansible/inventory/default/group_vars/us-east-1/main.yml
  ansible/inventory/default/group_vars/us-east-1/secrets.yml
  ansible/roles/base_role/tasks/main.yaml
Due: ansible_lint, ansible_deploy_base

update nginx template
  ansible/roles/dev_app/templates/nginx/sites/site.conf.conf.j2
Due: ansible_lint, deploy_dev_docker

Update readme and some things
  README.md
  ansible/inventory/README.md
  ansible/inventory/local/group_vars/all/README.md
  ansible/inventory/local/group_vars/all/all.yml
  ansible/inventory/local/group_vars/all/compose.yml
  ansible/inventory/local/group_vars/all/secrets.yml
  ansible/password.txt
  ansible/roles/base_role/tasks/apt-packages.yml
  ansible/roles/base_role/tasks/main.yaml
  ansible/roles/dev_app/tasks/main.yml
  ansible/roles/dev_app/templates/docker-compose.yml.j2
  server/example.domain.com.yml
Due: ansible_lint, ansible_deploy_base, deploy_dev_docker

some small updates
  README.md
  ansible/inventory/local/group_vars/all/all.yml
  ansible/inventory/local/group_vars/all/compose.yml
  ansible/roles/dev_app/tasks/main.yml
  server/example.domain.com.yml
Due: ansible_lint, deploy_dev_docker

Update README.md
  README.md
Due: none

update readme
  README.md
Due: none

update readme
  README.md
  ansible/roles/dev_app/tasks/main.yml
Due: ansible_lint, deploy_dev_docker

small fix
  ansible/roles/dev_app/templates/docker-compose.yml.j2
Due: ansible_lint, deploy_dev_docker

Add TODO for creating/deleting users
  ansible/roles/base_role/tasks/main.yaml
  ansible/roles/dev_app/templates/docker-compose.yml.j2
Due: ansible_lint, ansible_deploy_base, deploy_dev_docker

Path conditions:
  ansible_lint: any of: ansible/**/*
  ansible_deploy_base: any of: ansible/roles/base_role/**/*, ansible/inventory, ansible/ansible.cfg, ansible/main.yaml, ansible/password, .gitlab-ci.yml
  deploy_dev_docker: any of: ansible/roles/dev_app/**/*, server/*, ansible/dev-role.yaml
